<!-- tours/templates/tours/add_review.html -->
{% extends 'base.html' %}

{% block title %}Add Review{% endblock %}

{% block content %}
    <h1>Add Review for {{ tour.name_tour }}</h1>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <div class="error-list">
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        <button type="submit" class="button">Save Review</button>
    </form>
{% endblock %}
