<!-- tours/templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to Travel Agency</h1>
    <p>Explore our tours, guides, and reviews.</p>
    <div id="register-form-container" class="form-container">
        <h2>Register</h2>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            {{ register_form.as_p }}
            <button type="submit" class="button">Register</button>
        </form>
    </div>
    <div id="login-form-container" class="form-container">
        <h2>Login</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ login_form.as_p }}
            <button type="submit" class="button">Login</button>
        </form>
    </div>
{% endblock %}
