<!-- tours/templates/home.html -->
{% extends 'base.html' %}

{% block title %}Добро пожаловать в наше онлайн-турагентство{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center; height: 100vh; justify-content: center;">
    <h2>Добро пожаловать в наше онлайн-турагентство!</h2>
    <p>Мы предлагаем лучшие туры по всему миру. Исследуйте новые горизонты и создавайте незабываемые воспоминания с нами!</p>
    <!-- Здесь можно добавить дополнительные элементы, например, кнопки для просмотра туров или других услуг -->
</div>
{% endblock %}
