<!-- tours/templates/auth/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>

    <style>
        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f9f9f9;
        }

        .login-form {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 20px;
            background-color: white;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        .login-form h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        .button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #007BFF;
            color: white;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }

        .button:hover {
            background-color: #0056b3;
        }
    </style>

    <div class="login-container">
        <form method="post" action="" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="button">Login</button>
        </form>
    </div>
{% endblock %}
